<h1 style="text-align: center; margin-top: 20px">Voo 1</h1>

<section class="dados">
  <div class="variaveis"></div>
    <div class="dado-var"></div>
    <div class="dado-var"></div>
    <div class="dado-var"></div>
    <div class="dado-var"></div>
    <app-table></app-table>
  <div class="estáticos">
    <div class="dado-est">Peso: {{ peso }} kg</div> 
    <div class="dado-est">Pressão: {{ pressao }} kgf m</div> 
    <div class="dado-est">Ângulo de Lançamento: {{ angulo }} °</div>
  </div>
</section>

<!-- <app-table></app-table> -->
<!-- <app-grafico></app-grafico> -->
    
