*{
    margin: 0;
    padding: 0;
}

/* .principal{
    height: 400px;

}
.body{
    height: 1000px;
} */

.main-section{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.Block{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    border: 1px lightgray solid;
    padding: 15px;
    /* margin-left: 1600px; */
    text-align: center;
    border-radius: 20px;
    border-color: #7C8FF2;
    border-width: 4px;
}

#text-input{
    align-self: center;
    font-size: 1.2rem;
}

#lbl{
    align-self: center;
    text-align: center;
    font-size: .8rem;
    border: 1px solid black;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    width: 120px
}

#button{
    align-self: center;
    width: 126px;
    padding: 5px;
    cursor: pointer;
}

/* .footer{
    display: flex;
    margin-top: 320px;
    justify-content: center;
    align-items: center;
    background-color: #7C8FF2;
    color: white;
    font-size: 1.2rem;
    padding: 30px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7C8FF2;
    color: white;
    font-size: 1.2rem;
    padding: 30px;
} */

.container{ 
    text-align: center;
}

.mini-box{
    background-color: white;
    padding: 10px;
    margin-top: 40px;
    margin-left: 75px;
    width: 200px;
    height: 80px;
    border-radius: 20px;
    border-color:black;
}