*{
    margin: 0;
    padding: 0;
}

.Block{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    border: 1px lightgray solid;
    padding: 5px;
}

#text-input{
    align-self: center;
    font-size: 1.2rem;
}

#lbl{
    align-self: center;
    text-align: center;
    font-size: .8rem;
    border: 1px solid black;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    width: 120px
}

#input{
    /* display: none; */
}

#button{
    align-self: center;
    width: 126px;
    padding: 5px;
}