<body class="principal">

  <div class="navbar">
  
  </div>
  
  <h1 style="text-align: center; margin-top: 20px">Projeto Integrador 1 - Lançamento de Foguete</h1>
  
  <div class="Block">
      <p id="text-input">Registre um novo lançamento: </p>
      <label id="lbl" for="input">Escolha o arquivo</label>
      <input id="input" type='file' (change)="fileChanged($event)" style="display: none;" placeholder="X">
      <button id="button" type="submit" (click)="uploadFile($event)">Enviar</button>
  </div>
  <br><br>
  
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="./app.voos.html">Voo 1</a>
        <div class="mini-box">
          <h1>...</h1>
        </div>
        <div class="mini-box">
          <h1>...</h1>
        </div>
        <div class="mini-box">
          <h1>...</h1>
        </div>
      </div>
      <div class="col-sm">
        <h3>Voo 2</h3>
        <div class="mini-box">
          <h1>...</h1>
        </div>
        <div class="mini-box">
          <h1>...</h1>
        </div>
        <div class="mini-box">
          <h1>...</h1>
        </div>
      </div>
      <div class="col-sm">
        <h3>Voo 3</h3>
        <div class="mini-box">
          <h1>...</h1>
        </div>
        <div class="mini-box">
          <h1>...</h1>
        </div>
        <div class="mini-box">
          <h1>...</h1>
        </div>
      </div>
    </div>
  </div>
  
  <div class="footer">
    <p>Equipe Rocket 2023</p>
  </div>
</body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">