<table>
    <col>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <tr>
        <th scope="col">...</th>
        <th scope="col">Instante 1</th>
        <th scope="col">Instante 2</th>
        <th scope="col">Instante 3</th>
        <th scope="col">Instante 4</th>
    </tr>
    <tr>
      <th scope="row">Angulo</th>
      <td>50,000</td>
      <td>30,000</td>
      <td>100,000</td>
      <td>80,000</td>
    </tr>
    <tr>
      <th scope="row">Latitude</th>
      <td>10,000</td>
      <td>5,000</td>
      <td>12,000</td>
      <td>9,000</td>
    </tr>
    <tr>
        <th scope="row">Longitude</th>
        <td>10,000</td>
        <td>5,000</td>
        <td>12,000</td>
        <td>9,000</td>
    </tr>
    <tr>
        <th scope="row">altitude</th>
        <td>10,000</td>
        <td>5,000</td>
        <td>12,000</td>
        <td>9,000</td>
    </tr>
    <tr>
        <th scope="row">Velocidade</th>
        <td>10,000</td>
        <td>5,000</td>
        <td>12,000</td>
        <td>9,000</td>
    </tr>
</table>